<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon" style="height: 150px;">
                            <img src="./assets/img/acai.png" alt="unloaded" style="width: 140px;">
                        </div>
                        <p class="card-category">Açai 700ml</p>
                        <h3 class="card-title"> R$ 20,00
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">send</i> FAZER PEDIDO
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon" style="height: 150px;" >
                            <img src="./assets/img/pizza.png" alt="unloaded" style="width: 140px;">
                        </div>
                        <p class="card-category">Pizza</p>
                        <h3 class="card-title">R$ 50,00</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">send</i> FAZER PEDIDO
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon" style="height: 150px;">
                            <img src="./assets/img/temaki.png" alt="unloaded" style="width: 140px;">
                        </div>
                        <p class="card-category">Temaki</p>
                        <h3 class="card-title">R$ 75,00</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">send</i> FAZER PEDIDO
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon" style="height: 150px;">
                            <img src="./assets/img/nuggets.png" alt="unloaded" style="width: 140px;">
                        </div>
                        <p class="card-category">Nuggets de frango</p>
                        <h3 class="card-title">R$56,14</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">send</i> FAZER PEDIDO
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div style="height: 300px; background-color: white; width: 520px; border-radius: 2%; box-shadow: 0 1px 4px 0 rgb(244, 67, 54); margin: auto;">
                <div style="margin-top: 20px; margin-left: 20px;">
                    <form action="/action_page.php">
                        
                        <label for="fname" style="color:black; width: 60px;"><b>Nome:</b></label>
                        <input type="text" id="fname" name="fname" style="width: 400px;  margin-left: 20px;"><br><br>
                        
                        <label for="lname" style="color:black; width: 60px;"><b>Rua:</b></label>
                        <input type="text" id="lname" name="lname" style="width: 400px;  margin-left: 20px;"><br><br>
                        
                        <label for="bname" style="color:black; width: 60px;"><b>Bairro:</b></label>
                        <input type="text" id="bname" name="bname" style="width: 400px;  margin-left: 20px;"><br><br>
                        
                        <label for="lname" style="color:black; width: 60px;"><b>Número:</b></label>
                        <input type="number" id="nname" name="nname" style="width: 80px;  margin-left: 20px;"><br><br>
                                        
                        <input type="submit" value="PEDIR">
                    
                    </form>
                </div>
            </div>           
        </div>

    </div>
</div>
