<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Tabela de pedidos</h4>
                        <p class="card-category"> Pedidos feitos pelo serviço on-line de delivery do RANGO NA WEB</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Pedido
                                    </th>
                                    <th>
                                        Data
                                    </th>
                                    <th>
                                        Horário
                                    </th>
                                    <th>
                                        Endereço
                                    </th>
                                    <th>
                                        Valor
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Lauro Milagres Oliveira
                                        </td>
                                        <td>
                                            Açai 700ML
                                        </td>
                                        <td>
                                            12/04/2020
                                        </td>
                                        <td>
                                            18:00
                                        </td>
                                        <td>
                                            Rua Antonio Torres
                                        </td>
                                        <td class="text-primary">
                                            R$ 20,00
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Nathalia Campos
                                        </td>
                                        <td>
                                            Temaki
                                        </td>
                                        <td>
                                            12/04/2020
                                        </td>
                                        <td>
                                            18:00
                                        </td>
                                        <td>
                                            R. Jorn. Djalma Andrade, Minas Gerais
                                        </td>
                                        <td class="text-primary">
                                            R$ 75,00
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            Claudia Marcia
                                        </td>
                                        <td>
                                            Nuggets de frango
                                        </td>
                                        <td>
                                            12/04/2020
                                        </td>
                                        <td>
                                            18:00
                                        </td>
                                        <td>
                                            R. Jorn. Djalma Andrade, Minas Gerais
                                        </td>
                                        <td class="text-primary">
                                            R$ 56,14
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            Jordano Cesar
                                        </td>
                                        <td>
                                            Pizza de frango
                                        </td>
                                        <td>
                                            12/04/2020
                                        </td>
                                        <td>
                                            18:00
                                        </td>
                                        <td>
                                            R. Jurua, Minas Gerais
                                        </td>
                                        <td class="text-primary">
                                            R$ 50,00
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
